* { font-family:"Nunito Sans", sans-serif; line-height:125%; color:#333; font-weight:300; letter-spacing:0.025; border-radius:0 !important; }
a { text-decoration:none !important; }
img { max-width:100%; }
img.centered { float:none; display:block; margin-left:auto; margin-right:auto; }


/* Header */
header { z-index:2020; transition:0.2s; background-color:#fff; display:block; clear:both; }
header .logo img { margin:10px 0; height:38px; }
.hamburger { z-index:2010; position:absolute; top:30px; right:15px; border-radius:50%; padding:15px; }
header .navbar { padding:0; }
header .sub { display:block; clear:both; background-color:#ddd; }

/* Menu */
header #navbarNav .nav-link { padding:30px; color:#fff; }
header #navbarNav .nav-item { transition:0.2s opacity; }
header #navbarNav .nav-item:hover { opacity:0.8; }
header #navbarNav .nav-item:nth-of-type(1) { background-color:#8ec549; }
header #navbarNav .nav-item:nth-of-type(2) { background-color:#2d9067; }
header #navbarNav .nav-item:nth-of-type(3) { background-color:#005838; }
header .navbar-toggler { background:#8dc63f; border:0; }
header > .sub { display:none; }
header .submenu { display:none; }
header .navbar-nav.mobile-only a > i.fas { transition:0.2s all; }
header .navbar-nav.mobile-only a.active > i.fas { transform:rotate(180deg); }


/* Footer */
footer .newsletter { background-image:url(../img/bg-newsletter.jpg); background-repeat:no-repeat; background-position:center; background-size:cover; padding:50px 0; }
footer .newsletter p { font-size:19px; font-weight:200; width:450px; max-width:100%; margin-left:auto; margin-right:auto; }
footer .newsletter .button { font-size:18px; margin-right:auto; margin-left:auto; }
footer .newsletter p,
footer .newsletter .button { display:block; margin-top:20px; }
footer .newsletter input { width:400px; max-width:100%; padding:10px 30px; font-size:18px; text-align:center; }
footer .down { background-image:url(../img/bg-footer.png); background-repeat:no-repeat; background-position:center; background-size:cover; padding:40px 0 60px; }
footer a { transition:0.2s all; }
footer a:hover { color:#fff; }
footer li,
footer ul { list-style:none; margin:0; padding:0; }
footer ul { margin-top:30px; }
footer ul li { margin-bottom:8px; }
footer .down .row:nth-of-type(2) { margin-top:50px; }
footer .down .txt { margin-top:30px; }
footer .stock { padding:30px 25; background-color:#005838; }
footer .stock .h3 { margin-bottom:30px; }
footer .stock .row > div { margin-bottom:10px; }
footer .marks { width:350px; height:auto; }