<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../img/favicon.png">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="../css/typography.css">
	<link rel="stylesheet" href="../css/ui.css">
	<link rel="stylesheet" href="../css/static.css">
	<link rel="stylesheet" href="../css/responsive.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/scripts.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand logo" href="javascript:;">
					<img src="../img/logo.svg">
				</a>
				<a class="nav-link stock">
					<span class="bd-font grey3">AGRO</span> <i class="fas fa-angle-up alt-green2"></i> <span class="al	t-green2">8.22 (+0.86%)</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav desktop-only">
						<li class="nav-item">
							<a href="javascript:;" class="nav-link" id="sub1">Company &amp; Governance <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a href="javascript:;" class="nav-link" id="sub2">Our Assets</a>
							
						</li>
						<li class="nav-item">
							<a href="javascript:;" class="nav-link" id="sub3">Financials</a>
						</li>
					</ul>
					<ul class="navbar-nav mobile-only white">
						<li class="nav-item">
							<a href="javascript:;" class="nav-link">Company &amp; Governance <i class="fas fa-angle-down"></i></a>
							<div class="submenu">
								<a href="javascript:;">askda aslkdj asdj sd</a>
							</div>
						</li>
						<li class="nav-item">
							<a href="javascript:;" class="nav-link">Our Assets <i class="fas fa-angle-down"></i></a>
						</li>
						<li class="nav-item">
							<a href="javascript:;" class="nav-link">Financials <i class="fas fa-angle-down"></i></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="submenu1" class="sub bg-light text-center desktop-only">Company &amp; Governance</div>
		<div id="submenu2" class="sub bg-light text-center desktop-only">Our Assets</div>
		<div id="submenu3" class="sub bg-light text-center desktop-only">Financials</div>
	</header>

	<footer>
		<div class="newsletter white text-center">
			<div class="container">
				<p>Subscribe to our newsletter and get all our financial news and information in your inbox.</p>
				<form>
					<input class="grey4" type="email" placeholder="your@email-address.com" />
					<button class="button ghost white" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
		<div class="down grey2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 txt">
						<p class="h3 hlight bd-font">adecoagro</p>
						<ul>
							<li><a href="javascript:;">Global Site</a></li>
							<li><a href="javascript:;">Business Divisions</a></li>
							<li><a href="javascript:;">Sustainability</a></li>
							<li><a href="javascript:;">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-6 col-lg-3 txt">
						<p class="h3 hlight bd-font">Legal + Privacy</p>
						<ul>
							<li><a href="javascript:;">Privacy Policy</a></li>
							<li><a href="javascript:;">Terms of Use</a></li>
							<li><a href="javascript:;">Intellectual property rights</a></li>
						</ul>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="stock">
							<p class="h3 hlight bd-font block">Stock Quote</p>
							<div class="row">
								<div class="col-3">Price</div>
								<div class="col-3 bd-font alt-green2 text-right">241.1</div>
								<div class="col-3">Change %</div>
								<div class="col-3 alt-green2 text-right"><i class="fas fa-angle-up alt-green2"></i> <span class="bd-font alt-green2">3.53%</span></div>
								<div class="col-3">Change</div>
								<div class="col-3 alt-green2 text-right"><i class="fas fa-angle-up alt-green2"></i> <span class="bd-font alt-green2">8.51</span></div>
								<div class="col-3">Volume</div>
								<div class="col-3 bd-font white text-right">25,203,203</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">©Copyright 2002-2018 Adecoagro.<br>All Rights Reserved.</div>
					<div class="col-sm-6 text-right">
						<img class="marks" src="../img/footer-marks.png">
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script>
		var hamburgers = document.querySelectorAll(".hamburger");
		if (hamburgers.length > 0) {
			forEach(hamburgers, function(hamburger) {
				hamburger.addEventListener("click", function() {
					this.classList.toggle("is-active");
				}, false);
			});
		}

	</script>
</body>

</html>
