* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	text-decoration: none;
	list-style: none;
}

p.error_login {
    margin-top: 10px;
    color: #cf0000;
    font-weight: 600;
}

.container {
	width: 90%;
	margin: auto;
}

body.login {
	background: #2d9067;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

body.login div {
	width: 500px;
	height: 300px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

body.login div form {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

body.login div form img {
	width: 50%;
	margin-bottom: 20px;
}

body.login div form input {
	width: 80%;
	padding: 10px;
	display: block;
	margin-bottom: 20px;
	outline: none;
	font-size: 1rem;
}

body.login div form input[type="submit"] {
	margin-bottom: 0;
	background: #2d9067;
	border: 1px solid #2d9067;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
}

/* PANEL */

body.panel > header {
	padding: 20px 0;
	border-bottom: 3px solid #005837;
}

body.panel > header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body.panel > header .container img {
	width: 200px;
}

body.panel > header .container nav ul li {
	display: inline-block;
	margin: 0 10px;
}

body.panel > header .container nav ul li a {
	color: #005837;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
}

body.panel section header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body.panel section header h2 {
	color: #005837;
	font-weight: 700;
	font-size: 1.7rem;
}

body.panel section header a {
	background: #005837;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
}

body.panel section .content table,
body.panel section .content table tbody {
	width: 100%;
}

body.panel section .content table tr th,
body.panel section .content table tr td {
	padding: 10px;
}

body.panel section .content table tr th {
	text-transform: uppercase;
	font-size: 1rem;
	background: #005837;
	color: #fff;
}

body.panel section .content table tr td {
	font-size: 0.9rem;
	text-align: center;
}

body.panel section .content table tr td:nth-last-child(2),
body.panel section .content table tr td:last-child {
	text-align: center;
}

body.panel section .content table tr td:nth-last-child(2) a {
	color: #138ead;
	font-size: 1.2rem;
}

body.panel section .content table tr td:last-child a {
	color: #ad1331;
	font-size: 1.2rem;
}

body.panel section .content form {
	margin-bottom: 30px;
	display: inline-block;
	width: 50%;
}

body.panel section .content form div {
	width: 100%;
	margin-bottom: 20px;
}

body.panel section .content form div label,
body.panel section .content form div input,
body.panel section .content form div textarea {
	display: block;
	width: 100%;
}

body.panel section .content form div label,
body.panel section .content form + div p {
	font-weight: 700;
	color: #005837;
	font-size: 1rem;
}

body.panel section .content form div input,
body.panel section .content form div textarea  {
	margin-top: 8px;
	padding: 3px 10px;
	resize: none;
	font-size: 1rem;
	outline: none;
}

body.panel section .content form div img {
	width: 100%;
}

body.panel section .content form input[type="submit"] {
	background: #005837;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 1px;
	font-size: 1rem;
}

body.panel section .content form + div {
	float: right;
}

body.panel section .content form + div p {
	margin-bottom: 10px;
	text-align: right;
}

body.panel section .content ul li {
	margin-bottom: 20px;
}

body.panel section .content ul li img {
	width: 100%;
}